.Details_container {
  height: 100vh;
  position: relative;
  width: 100vw;
  max-width: 1800px;
}
.Details_border {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom, #f2c185, #a27645);
  padding: 1px;
  height: 90%;
  width: 90%;
}

.Details_internal_container {
  height: 100%;
  width: 100%;
  background-color: white;
}
