.Body_container {
  font-family: Popsie;
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 700px));
  grid-column-gap: 25px;
}

.Body_container_mobile {
  grid-template-columns: 100vw;
  grid-template-rows: repeat(2, 100vh);
}
