.FramedContainer_container {
  max-width: 1700px;
  border: 1.5px solid #ebb485;
  width: 90%;
  margin-top: 80px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.FramedContainer_border {
  position: absolute;
  background-image: radial-gradient(
    circle at center,
    #f8d4b6 5px,
    rgba(255, 255, 255, 0) 6px
  );
  background-size: 30px 15px;
  background-repeat: repeat-x;
  height: 15px;
  width: 85%;
  background-color: white;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.FramedContainer_header {
  position: relative;
  z-index: 10;
}

.FramedContainer_border_top {
  top: -8px;
}

.FramedContainer_border_bottom {
  bottom: -8px;
}

@media only screen and (max-width: 700px) {
  .FramedContainer_border {
    background-image: radial-gradient(
      circle at center,
      #f8d4b6 2.5px,
      rgba(255, 255, 255, 0) 3px
    );
    background-size: 15px 15px;
  }

  .FramedContainer_container {
    margin-top: 0px;
    border: 1px solid #ebb485;
    margin-bottom: 35px;
  }
}
