.Dot {
  background-color: #f8d4b6;
  border-radius: 16px;
}

.DotBar_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
