.LocationMap_container {
  cursor: pointer;
  border: 1px solid #0d3b62;
  border-radius: 15px;
  overflow: hidden;
  margin: 35px 15px 10px 0px;
  width: 420px;
  height: 310px;
  transition: all 0.5s ease-in-out;
  transform-origin: top left;
}

.LocationMap_internal_container {
  width: 470px;
  margin-left: -20px;
  margin-top: -40px;
}

@media only screen and (max-width: 700px) {
  .LocationMap_container {
    margin-top: 0px;
    transform-origin: center;
    width: 78vw;
    margin: 5px 0px 15px 0px;
    height: 180px;
    text-align: center;
  }

  .LocationMap_container:hover {
    width: 78vw;
    height: 150px;
  }

  .LocationMap_internal_container {
    margin-top: -50px;
    width: 320px;
  }
}
