.FramedContainer_container {
  max-width: 1700px;
  border: 1.5px solid #ebb485;
  width: 90%;
  margin-top: 80px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.FramedContainer_border {
  position: absolute;
  height: 15px;
  width: 85%;
  background-color: white;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.FramedContainer_header {
  position: relative;
  z-index: 10;
}

.FramedContainer_border_top {
  top: -5px;
}

.FramedContainer_border_bottom {
  bottom: -10px;
}

@media only screen and (max-width: 700px) {
  .FramedContainer_border_top {
    top: -4px;
  }

  .FramedContainer_border_bottom {
    bottom: -12px;
  }

  .FramedContainer_container {
    margin-top: 0px;
    border: 1px solid #ebb485;
    margin-bottom: 10vh;
  }
}
