.SaveTheDateHeader_container {
  width: 400px;
  height: 100px;
  margin-top: -55px;
}

.SaveTheDate_container {
  width: 80%;
  height: 100%;
  margin-top: 120px;
}

.SaveTheDate_underline {
  background-color: #ebb485;
  width: 100%;
  height: 1px;
  margin-top: 18px;
  z-index: 12;
}

.SaveTheDate_dots {
  margin-top: 10px;
}

.SaveTheDateHeader_underline_container {
  position: relative;
}

@media only screen and (max-width: 700px) {
  .SaveTheDate_dots {
    margin-top: 2px;
  }

  .SaveTheDate_underline {
    height: 1px;
  }

  .SaveTheDate_container {
    width: 90%;
    height: 30vh;
    margin-top: 50px;
  }

  .SaveTheDateHeader_container {
    width: 250px;
    height: 100px;
    margin-top: -35px;
  }

  .SaveTheDateHeader_underline_container {
    padding-top: 10px;
  }
}
