@font-face {
  font-family: "Popsie";
  src: url("../fonts/Popsies.ttf");
  src: url("../fonts/Popsies.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Popsies.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Popsies.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/Popsies.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/Popsies.svg") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "Moon 2.0 Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Moon 2.0 Regular"),
    url("../fonts/Moon2.0-Regular.woff") format("woff");
}
@font-face {
  font-family: "Moon 2.0 Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Moon 2.0 Bold"), url("../fonts/Moon2.0-Bold.woff") format("woff");
}
@font-face {
  font-family: "Moon 2.0 Light";
  font-style: normal;
  font-weight: normal;
  src: local("Moon 2.0 Light"),
    url("../fonts/Moon2.0-Light.woff") format("woff");
}

body {
  margin: 0;
}

.Index_container {
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 900px));
  grid-template-rows: auto auto;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  justify-content: center;
  align-items: center;
  grid-template-areas:
    "coffeeDate saveTheDate"
    "details details";
}

.Index_header,
.Index_coffeeDate,
.Index_saveTheDate,
.Index_details {
  height: 100%;
  width: 100%;
  align-self: center;
  justify-self: center;
}

.Index_header {
  grid-area: header;
  width: 38vw;
  margin-top: 15vh;
  margin-bottom: -10vh;
  z-index: 3;
}

.Index_coffeeDate {
  grid-area: coffeeDate;
  padding-bottom: 50px;
  overflow: hidden;
}

.Index_saveTheDate {
  grid-area: saveTheDate;
  height: 80%;
}

.Index_details {
  grid-area: details;
}

.Index_spacer {
  grid-area: spacer;
}

@media only screen and (max-width: 800px) {
  .Index_container {
    grid-template-columns: 100vw;
    grid-row-gap: 0px;
    grid-template-rows: 0.5fr minmax(100vh, auto) 70vh 30vh minmax(100vh, auto);
    grid-template-areas:
      "header"
      "coffeeDate"
      "saveTheDate"
      "spacer"
      "details";
  }

  .Index_coffeeDate_internal {
    width: 150%;
    margin-left: -30%;
  }

  .Index_coffeeDate {
    padding-bottom: 0px;
  }
}
