.aboutUs_container {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.aboutUs {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    "albertAvatar albertName"
    "albertAvatar albertDescription"
    "padding padding"
    "vickyName vickyAvatar"
    "vickyDescription vickyAvatar";
  font-family: "Lato", sans-serif;
  height: 100%;
  margin-bottom: 10vh;
}

@mixin avatar {
  background-size: cover;
}

@mixin textLeft {
  padding-left: 10px;
}

@mixin description {
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  color: rgb(102, 101, 101);
  p {
    margin: 0px;
  }
}

@mixin name {
  font-family: "Rock Salt", cursive;
  font-size: 1.6em;
  line-height: 1.8em;
  align-self: end;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  color: adjust-color(
    $color: #545970,
    $hue: 0,
    $saturation: 10%,
    $lightness: 10%,
    $alpha: 1
  );
}

.padding {
  grid-area: padding;
  padding-top: 20px;
}

.albertAvatar {
  @include avatar;
  width: 145px;
  height: 213px;
  grid-area: albertAvatar;
  justify-self: end;
  background-image: url("../images/albert_avatar.png");
}

.vickyAvatar {
  @include avatar;
  margin-top: 10px;
  margin-left: 45px;
  width: 160px;
  height: 214px;
  grid-area: vickyAvatar;
  background-image: url("../images/vicky_avatar.png");
}

.albertName {
  @include textLeft;
  @include name;
  grid-area: albertName;
}

.albertDescription {
  @include description;
  @include textLeft;
  grid-area: albertDescription;
}

.vickyName {
  @include name;
  text-align: right;
  grid-area: vickyName;
  color: #6e527a;
  margin-right: -35px;
}

.vickyDescription {
  @include description;
  text-align: right;
  grid-area: vickyDescription;
  margin-right: -35px;
}
