.menu_body {
  height: 57vh;
  max-height: 400px;
  background-color: white;
  color: #4d4d4d;
  padding: 1vh 48px 1vh 42px;
  font-family: "Roboto Slab", serif;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.menu_body_title {
  font-weight: 700;
  line-height: 22px;
  padding-top: 24px;
  padding-bottom: 8px;
  font-size: 1.2em;
  color: #4d4d4d;
}

.menu_body_select {
  font-style: italic;
  color: #696969;
  font-size: 0.9em;
}

.entree_sub {
  padding-bottom: 10px;
  color: #8a8888;
}
