.registry {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center top;
  background-image: url("../images/center_embrace.jpg");
  height: 100vh;
  padding-top: 2vh;
  padding-left: 6vw;
}
.registry-body {
  margin-right: 30px;
  color: white;
  text-shadow: 2px 2px 2px rgb(24, 24, 24);
  font-size: 1.1em;
  line-height: 1.1em;
  font-family: "Roboto Slab", serif;
}