.splashPage {
  background-image: url("../images/main_splash_centered.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-position: center;
  background-color: white;
}

.splashPage__logo {
  padding-top: 25%;
}
