.travel-and-acommodation {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center top;
  background-image: url("../images/far_beach.jpg");
  height: 100vh;
}
